<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>

	<!-- Nav Menu -->
	<header>
		<%- include('pages/header/header.ejs') %> 
	</header>

	<!-- Main container -->
	<div class="container-fluid">
		<div class="row flex-xl-nowrap">
			<!-- Side navigation -->
			<%- include('pages/sidebar/sidebar.ejs') %>
			<!-- End of side navigation -->
			<!-- Main content -->
			<main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
				<h1>Home Content!</h1>
			</main>
			<!-- End of main content section -->
		</div>
	</div>

	<script type="text/javascript" src="/jquery/jquery.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>

</body>

</html>