<div class="col-md-3 col-xl-2 bd-sidebar">
    <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"
        data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
        aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
            viewBox="0 0 30 30" role="img" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
    </button>
    <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="/">
                Home
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="/add_new">
                Add New entry
            </a>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="/history">
                History
            </a>
        </div>
    </nav>
</div>